
/* .fa-times{
    color: #fff;
    font-size: 2rem;
} */

.nav-links-mobile{
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
}

.nav-links-mobile:hover{
    background: #fff;
    color: rgb(48, 45, 45);
    transition: all 0.3s ease-out;
}
/* .navbar{
    background: #2A384D;
   
} */
.navbar-container{
    display: flex;
    justify-content: space-between;

    padding: 40px 0;
}
.navbar-logo{
    text-decoration: none;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
}